.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1.landing-page-title {
      font-size: 4em;
      font-style: italic;
      margin: 0.25em 0 0.5em;
    }
  }
}
